/* TEXT STYLING */
body {
	font-family: 'PT Sans Caption';
	color: #FFF;
}

h1 {
	font-weight: 700;
	font-size: 52px;
	line-height: 1em;
}

h2 {
	font-weight: 300;
	font-size: 24px;
}

ul {
	list-style-type: disc;
	margin-bottom: 1em;
}

/* INTRO SECTION */

.wrapper {
	position: absolute;
	margin-top: 30%;
	margin-left: 11%;
	width: 50%;
}

.wrapper h2 {
	margin-top: 3em;
}

.top-movie {
  position: relative;
}

.top-movie video {
  width: 100%;
  z-index: -100;
}

.top-movie h1, h2 {
	position: absolute;
}

.top-movie p {
	margin-top: 1em;
}

.top-movie h1, h2, p {
	text-shadow: 1px 1px 10px rgba(0,0,0,.45);
}

video {
  display: inline-block;
  vertical-align: baseline;
}

#logo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 25%;
	position: absolute;
	margin-top: 3%;
	left: 0;
	right: 0;
}

#fullvideobutton {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  padding: 12px;
  margin-top: 8em;
  position: absolute;
  text-decoration: none;
}

#fullvideobutton a {
  color: #FFFFFF;
}

#fullvideobutton a:hover {
  color: #b2d236;
  text-decoration: underline;
}

#downbutton {
  	margin-left: auto;
  	margin-right: auto;
	position: absolute;
	left: 0;
	right: 0;
}

#downbutton a {
	text-decoration: none;
	color: #ea5404;
}

/* THREE IMAGES 'HOW' SECTION */

.how-slide h2 {
	position: relative;
}

.thirdcolumns {
	width:25%;
	margin-left: 6%;
	display: inline-block;
	float: left;
}

.how-slide {
  background-color: #449d44;
  background-size: cover;
  padding: 5% 5% 5% 5%;
}

.how-images {
	width: 100%;
	padding-bottom: .5em;
}

.clearer {
	clear: both;
}

/* FAQ SECTION */

.faq-slide {
	background-color: #ea5404;
	background-size: cover;
	padding: 5% 5% 5% 5%;
}

.contact-form {
	margin-top: 3em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.contact-form a {
	color: #fff;
	text-decoration: none;
}

.contact-form h2, p {
	position: relative;
}

/* PRODUCT SECTION */

.fiddypercentcolumn {
	width:35%;
	margin-left: 6%;
	display: inline-block;
	float: left;
}

.product-slide {
  background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZjhlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #ffffff 1%, #ffffff 21%, #fff8ea 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(21%,#ffffff), color-stop(99%,#fff8ea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 1%,#ffffff 21%,#fff8ea 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 1%,#ffffff 21%,#fff8ea 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 1%,#ffffff 21%,#fff8ea 99%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 1%,#ffffff 21%,#fff8ea 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff8ea',GradientType=0 ); /* IE6-8 */

  background-size: cover;
  padding: 5% 5% 5% 5%;
}

.product-slide .fiddypercentcolumn h1, ul{
	color: #000;
}

.product-image {
	width: 40%;
}

.price {
	width: 40%;
	float:right;
	display: block;
	color: #000;
	text-align: center;
	margin-right: 11%;
	margin-top: 1em;
}

.price a {
	font-size: 18px;
}

.product-buybutton {
	border: 3px solid #fff;
	border-radius: 10px;
	font-weight: 300;
	font-size: 28px;
	text-align: center;
	padding: 4px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;

	-webkit-box-shadow: 6px 6px 50px -4px rgba(0,0,0,0.46);
  	-moz-box-shadow: 6px 6px 50px -4px rgba(0,0,0,0.46);
  	box-shadow: 6px 6px 50px -4px rgba(0,0,0,0.46);

	background: #a2005f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2EyMDA1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iIzY2MDAzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTAwMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #a2005f 2%, #66003b 59%, #490029 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#a2005f), color-stop(59%,#66003b), color-stop(100%,#490029)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a2005f 2%,#66003b 59%,#490029 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a2005f 2%,#66003b 59%,#490029 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a2005f 2%,#66003b 59%,#490029 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a2005f 2%,#66003b 59%,#490029 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2005f', endColorstr='#490029',GradientType=0 ); /* IE6-8 */
}

.product-buybutton a {
	text-decoration: none;
	color: #fff;
}

small, sub, sup { font-size: .53em;}
sub             { vertical-align: sub }
sup             { vertical-align: super }

/* FRIENDS SECTION */

.friends-slide {
  background-color: #449d44;
  background-size: cover;
  padding: 5% 5% 5% 6%;
}

.quartercolumns {
	width:19%;
	margin-left: 4%;
	display: inline-block;
	float: left;
	text-align: center;
}

.quartercolumns a {
	text-decoration: none;	
	color: #fff;
}

.friends-slide h2 {
	position: relative;
	font-weight: 300;
	font-size: 18px;
}

.friend-images {
	width: 60%;
	padding-top: 1em;
}

/* FOOTER SECTION */

.footer-slide {
	background-color: #354935;
  	background-size: cover;
  	padding: 5% 5% 5% 6%;
}

.footer-slide h2 {
	position: relative;
}

.footer-slide .thirdcolumns {
	border-right: 2px solid #fff;
	width: 18%;
}

.secondthirdcolumns {
	width:25%;
	margin-left: 2%;
	display: inline-block;
	float: left;
}

.footer-logo {
	width: 70%;
	margin-bottom: 1em;
}

.social-icons {
	width: 10%;
}

.links {
	margin-left: 5%;
}

.links ul {
	margin: .25em;
	color: #fff;
	font-size: 12px;
}

.links a {
	text-decoration: none;
	color: #fff;
}

.links a:hover {
	color: #ea5404;
}


/* FLOATING BUY BUTTON */

#buybutton {
  border: 2px solid #fff;
  color: #ea5404;
  border-radius: 10px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding: 12px;
  float:right;
  position:fixed;
  margin-top: 3%;
  margin-left: 85%;
  z-index: 100;
  -webkit-box-shadow: 6px 6px 50px -4px rgba(0,0,0,0.76);
  -moz-box-shadow: 6px 6px 50px -4px rgba(0,0,0,0.76);
  box-shadow: 6px 6px 50px -4px rgba(0,0,0,0.76);
background: #a2005f; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2EyMDA1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iIzY2MDAzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTAwMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2005f 2%, #66003b 59%, #490029 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#a2005f), color-stop(59%,#66003b), color-stop(100%,#490029)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2005f 2%,#66003b 59%,#490029 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2005f 2%,#66003b 59%,#490029 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2005f 2%,#66003b 59%,#490029 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2005f 2%,#66003b 59%,#490029 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2005f', endColorstr='#490029',GradientType=0 ); /* IE6-8 */
}

#buybutton a {
  color: #fff;
  text-decoration: none;
}

#buybutton a:hover {
  text-decoration: none;
}

#buybutton:hover {
  -webkit-box-shadow: 6px 6px 50px -4px rgba(234,84,4,0.76);
  -moz-box-shadow: 6px 6px 50px -4px rgba(234,84,4,0.76);
  box-shadow: 6px 6px 50px -4px rgba(234,84,4,0.76);
}