/* TEXT STYLING */
body {
	font-family: 'PT Sans Caption';
	color: #FFF;
}

h1 {
	font-weight: 700;
	font-size: 52px;
	line-height: 1em;
}

h2 {
	font-weight: 300;
	font-size: 24px;
}

ul {
	list-style-type: disc;
	margin-bottom: 1em;
}

/* INTRO SECTION */

.wrapper {
	position: absolute;
	margin-top: 30%;
	margin-left: 11%;
	width: 60%;
	z-index: 100;
}

.wrapper h2 {
	margin-top: 3em;
}

.top-movie {
  position: relative;
}

.static-intro {
  background: url('../assets/mobile-header.png');
  background-size: cover;
  padding: 5% 10% 15% 10%;
  position: relative;
  background-position: right top;
}

.mobile-intro {
	display: none;
}

.static-intro h1, h2 {
	position: relative;
}

.top-movie video {
  width: 100%;
  z-index: -100;
}

.top-movie h1, h2 {
	position: absolute;
}

.top-movie h1, h2, p {
	text-shadow: 1px 1px 10px rgba(0,0,0,.45);
}

video {
  display: inline-block;
  vertical-align: baseline;
}

#logo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 25%;
	position: absolute;
	margin-top: 3%;
	left: 0;
	right: 0;
}

#fullvideobutton {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  padding: 12px;
  margin-top: 11em;
  position: absolute;
  text-decoration: none;
}

#fullvideobutton a {
  color: #FFFFFF;
}

#fullvideobutton a:hover {
  color: #b2d236;
  text-decoration: underline;
}

/* THREE IMAGES 'HOW' SECTION */

.how-slide h2 {
	position: relative;
}

.thirdcolumns {
	width:25%;
	margin-left: 6%;
	float: left;
}

.how-slide {
  background-color: #EA5404;
  background-size: cover;
}

.how-wrapper {
  padding: 5% 5% 5% 5%;
}

.how-images {
	width: 100%;
	padding-bottom: .5em;
}

.rollover-how img:last-child {
	display:none
}

.rollover-how:hover img:first-child {
	display:none
}

.rollover-how:hover img:last-child {
	display:inline-block
}


.clearer {
	clear: both;
}

/* FAQ SECTION */

.faq-slide {
	background-color: #ea5404;
	background-size: cover;
}


.faq-video {
	display: none;	
}

.text-faq {
	padding: 0% 6% 5% 6%;
}

.text-faq .answer {
	margin-left: 2em;
	margin-top: .5em;
}

.text-faq .answer a {
	text-decoration: underline;
}

.text-faq h2, p {
	position: relative;
}

.text-faq h2 {
		margin-top: 1em;
}

.text-faq a {
	text-decoration: none;
	color: #fff;
}

.contact-form {
	margin-top: 3em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.contact-form a {
	color: #fff;
	text-decoration: none;
}

.contact-form h2, p {
	position: relative;
}

/* PRODUCT SECTION */

.fiddypercentcolumn {
	width:35%;
	margin-left: 6%;
	display: inline-block;
	float: left;
}

.product-slide {
  background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZjhlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #ffffff 1%, #ffffff 21%, #fff8ea 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(21%,#ffffff), color-stop(99%,#fff8ea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 1%,#ffffff 21%,#fff8ea 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 1%,#ffffff 21%,#fff8ea 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 1%,#ffffff 21%,#fff8ea 99%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 1%,#ffffff 21%,#fff8ea 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff8ea',GradientType=0 ); /* IE6-8 */

  background-size: cover;
  padding: 5% 5% 5% 5%;
}

.product-slide .fiddypercentcolumn h1, ul{
	color: #000;
}

.product-slide .fiddypercentcolumn li {
	padding-bottom: 1em;
}

.product-slide .fiddypercentcolumn h1 {
	font-size: 32px;
	margin-bottom: .5em;
}

.fiddypercentcolumn a {
	color: #000;
}

.product-image {
	width: 90%;
	display: block;
	margin: 0 auto;
}

.product-side-image {
	width: 40%;
	float: right;
	display: block;
	color: #fff;
	margin-right: 9%;
}

.centered-product {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.centered-product .product-image {
	width: 60%;
	margin-bottom: 2em;
}

.product-buybutton {
	border: solid 2px #fff;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 4em;
	left: 0;
	right: 0;
	border-radius: 10px;
	padding: 8px;
	
	background: #2c66a5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjNjZhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzA5M2U3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNTMwNWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #2c66a5 0%, #093e7a 70%, #05305f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c66a5), color-stop(70%,#093e7a), color-stop(100%,#05305f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2c66a5 0%,#093e7a 70%,#05305f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2c66a5 0%,#093e7a 70%,#05305f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2c66a5 0%,#093e7a 70%,#05305f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2c66a5 0%,#093e7a 70%,#05305f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c66a5', endColorstr='#05305f',GradientType=0 ); /* IE6-8 */

}

.product-buybutton a {
	text-decoration: none;
	color: #fff;
	text-align: center;
}

.product-buybutton h3 {
	text-align: center;
	font-size: 56px;
}

sup { 
	vertical-align: super; 
	font-size: .53em;
}

/* FRIENDS SECTION */

.friends-slide {
  background-color: #039B6D;
  background-size: cover;
  padding: 5% 5% 5% 6%;
}

.quartercolumns {
	width:19%;
	margin-left: 4%;
	display: inline-block;
	float: left;
	text-align: center;
}

.quartercolumns a {
	text-decoration: none;	
	color: #fff;
}

.friends-slide h2 {
	position: relative;
	font-weight: 300;
	font-size: 18px;
}

.friend-images {
	width: 60%;
	padding-top: 1em;
}

.centercolumn {
	width: 60%;
	margin-top: 2em;
	display: inline-block;
	margin-left: 20%;
	margin-right: 20%;
}

.centercolumn a {
	text-decoration: none;
}

.centercolumn .friend-images {
	width: 10%;
	vertical-align: middle;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

/* FOOTER SECTION */

.footer-slide {
	background-color: #007B56;
  	background-size: cover;
  	padding: 5% 5% 5% 6%;
}

.footer-slide h2 {
	position: relative;
}

.footer-slide .thirdcolumns {
	border-right: 2px solid #fff;
	width: 18%;
}

.secondthirdcolumns {
	width:25%;
	margin-left: 2%;
	display: inline-block;
	float: left;
}

.footer-logo {
	width: 70%;
	margin-bottom: 1em;
}

.social-icons {
	width: 10%;
}

.links {
	margin-left: 5%;
}

.links ul {
	margin: .25em;
	color: #fff;
	font-size: 10px;
}

.links a {
	text-decoration: none;
	color: #fff;
}

.links a:hover {
	color: #ea5404;
}


/* FLOATING BUY BUTTON */

#buybutton {
  color: #ea5404;
  border-radius: 10px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding: 12px;
  float:right;
  position:fixed;
  margin-top: 3%;
  margin-left: 85%;
  z-index: 100;
  -webkit-box-shadow: 6px 6px 50px -4px rgba(0,0,0,0.76);
  -moz-box-shadow: 6px 6px 50px -4px rgba(0,0,0,0.76);
  box-shadow: 6px 6px 50px -4px rgba(0,0,0,0.76);

	background: #2c66a5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjNjZhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzA5M2U3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNTMwNWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #2c66a5 0%, #093e7a 70%, #05305f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c66a5), color-stop(70%,#093e7a), color-stop(100%,#05305f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2c66a5 0%,#093e7a 70%,#05305f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2c66a5 0%,#093e7a 70%,#05305f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2c66a5 0%,#093e7a 70%,#05305f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2c66a5 0%,#093e7a 70%,#05305f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c66a5', endColorstr='#05305f',GradientType=0 ); /* IE6-8 */


}

#buybutton a {
  color: #fff;
  text-decoration: none;
}

#buybutton a:hover {
  text-decoration: none;
}

#buybutton:hover {
  -webkit-box-shadow: 6px 6px 50px -4px rgba(234,84,4,0.76);
  -moz-box-shadow: 6px 6px 50px -4px rgba(234,84,4,0.76);
  box-shadow: 6px 6px 50px -4px rgba(234,84,4,0.76);
}

/* MEDIA QUERIES */

    @media only screen and (min-width : 769px), only screen and (min-device-width : 769px) {

    	.mobile-intro {
    	display: none;
    	}

    	.centered-product {
    		display: none;
    	}
    }

	/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px), only screen and (max-device-width : 992px) {

    	#buybutton {
    		font-size: 18px;
    	}

    	.static-intro h1 {
			font-size: 60px;
			margin-top: 4em;
		}

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px), only screen and (max-device-width : 768px) {
    	    	.mobile-intro {
    	display: inline-block;
   		 }

    	h2 {
			font-size: 42px;
		}

		p {
			font-size: 24px;
		}

		.how-slide p {
			font-size: 24px;
		}

		#fullvideobutton {
			margin-top: 9em;
			padding: 6px;
		}

		.product-slide .fiddypercentcolumn h1 {
			font-size: 42px;
		}

		.product-slide .fiddypercentcolumn li {
			font-size: 24px;
		}

		.centered-product {
			display: inline-block;
		}

		.product-side-image {
			display: none;
		}



    	.desktop-intro {
    		display: none;
    	}

    	#buybutton {
    		font-size: 12px;
    		margin-left: 80%;
    	}

    	.how-images {
    		width: 40%;
    		margin: 0 auto;
    		left: 0;
    		right: 0;
    		display: block;
    	}

    	.how-slide p {
    		margin: 1em 0 2em 0;
    	}

    	.thirdcolumns {
    		width: 88%;
    	}

    	#logo {
    		position: relative;
    		margin-left: 0;
    		width: 35%;
    	}

    	.quickbuy {
    		margin-top: 2em;
    	}

    	.quickbuy a {
    		text-decoration: none;
    		font-size: 22px;
    		color: #fff;
    		background-color: #ea5404;
    		padding: 5px;
    		border-radius: 4px;
    	}

		.fiddypercentcolumn {
			width: 85%;
		}

		ul {
			list-style-type: none;
		}

		.contact-form a {
			font-size: 18px;
		}

		.quartercolumns h2 {
			display: none;
		}

		.quartercolumns .friend-images {
			position: relative;
  			top: 50%;
  			transform: translateY(-50%);
  			margin-top: 2em;
		}

		.centercolumn{
			width: 88%;
			margin-left: 6%;
			margin-top: -1em;
		}

		.footer-slide .thirdcolumns {
			width: 35%;
		}

		.footer-slide a {
			font-size: 12px;
		}

		.footer-slide .secondthirdcolumns {
			width: 45%;
		}

		.product-buybutton {
			width: 50%;
		}

		.product-buybutton h3 {
			font-size: 84px;
		}

		.product-buybutton p {
			font-size: 32px;
		}

		.product-buybutton {
			margin-top: 0em;
		}

		.links ul {
			font-size: 16px;
		}

		.social-icons {
			width: 15%;
		}

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px), only screen and (max-device-width : 480px) {

    	.friends-slide {
    		display: none;
    	}

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }